OPENAI_API_KEY=<your key>
NODE_PORT=5005
CLIENT_PORT=3000
CORS_ORIGIN=http://localhost:3000
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

# Database
MYSQL_HOST=localhost
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=chatdb
MYSQL_USER=chatuser
MYSQL_PASSWORD=chatpassword
MYSQL_LOCAL_PORT=3307
MYSQL_DOCKER_PORT=3306

# GitHub OAuth
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_TRUST_HOST=true

# Uncomment the below to use LangSmith. Not required, but recommended for debugging and observability.
# export LANGSMITH_API_KEY=<your key>
# export LANGSMITH_TRACING=true

# Reduce tracing latency if you are not in a serverless environment
export LANGCHAIN_CALLBACKS_BACKGROUND=true