colorama
dataclasses-json
Deprecated
exceptiongroup
fastavro
Flask
Flask-Cors
frozenlist
fsspec
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
jmespath
joblib
jsonpatch
jsonpointer
langchain
langsmith
llama-index>=0.12.20
MarkupSafe
marshmallow
multidict
mypy-extensions
nest-asyncio
nltk
numpy
openai
packaging
pandas
pefile
pydantic
pydantic_core
pyinstaller
pyinstaller-hooks-contrib
pypdf
python-dateutil